<template>

	        <div class="header">
            <div class="navbar">
              <div class="container-fluid">
              	<div class="row">
                <div class="col-12">
                  <nuxt-link class="navbar-brand" to="/">
                     <img alt="Brand" src="~/assets/imgs/logo.png">
                  </nuxt-link>
                </div>
                </div>
              </div>
            </div>

            </div>
		
</template>

<script>
	export default{

	}
</script>

<style scoped lang="scss">
.navbar-brand{
  img{
    width: 200px !important;
  }
}

</style>