<template>
    <div class="history">
        <b-table responsive="md" striped outlined head-variant="dark" :fields="fields" :items="fillteredWinners" >
        <div slot="table-busy" class="text-center text-info my-2">
        <strong>Loading...</strong>
      </div>
        </b-table>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
props:{
    limit:{
        type: Number
    }
},
data() {
    return {
        fields: ["draw_time", "name", "winning_lucky_no", "Phone", "win_amount"]
    }
},
computed: {
    ...mapState(['winners']),

    fillteredWinners(){
        if (this.limit) {
        return this.winners.slice(0,this.limit)
        } else {
        return this.winners
        }
    }
},
}
</script>

<style scoped>
    .history{
        background-color: #fff;
    }
</style>
