// variables
$dosika: #2D2C74;
$navy: #2D2C74;
$orange: #F5911E;
$gold: #f7ef9b;

// breakpoints
   
$S:     480px;   
$M:     600px;     
$L:     1000px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

body{
	min-height: 100vh;
	background-color: #fff;
}

.wrapper{
	max-width: 600px;
	margin: 0 auto;
}

.heading{
	background-color: $navy;
	padding: 6px 10px;

	h5{
		margin-bottom: 0;
		margin-top: 0;
	}
	
}

.text-gold{
	color: $gold;
}

.btn-white{
	background-color: #fff;
	color: $dosika;
	font-weight: bold;
}

.btn-primary{
	background-color: $navy;
	color: #fff;
}


.header{

	.navbar-brand{
		height: auto;
		padding: 0;
		float: none;
		display: inline-block;

		@include MQ(S){
			// height: 115px;
		}
		img{
			width: 100%;
		}
	}
	.navbar-right{
		text-align: right;
	}
}

.navbar-header{
	width: 100%;
}

.navbar-btn.btn-xs{
	margin-top: 8px;
	margin-bottom: 5px;
	padding: 3px 10px;
}

.bg-blue{
	background-color: $dosika;
}

.sub-menu{
	display: flex;
	padding: 5px 0;
	justify-content: space-between;
	align-items: center;
	
	.lead{
		margin-bottom: 0;
	}

	.navbar-btn{
		margin-right: 10px;
	}
}

.ml{
	margin-left: 10px;
}
.text-white{
	color: #fff;
}

.home-banner{
	img{
		width: 100%;
	}
}
.playpicks{
	margin-bottom: 20px;
	margin-top: 20px;
}

.login-form{
	margin: 30px 0px 60px;

}

.last-draw{
	margin-bottom: 15px;
	span{
		width: 50px;
		height: 50px;
		display: inline-block;
		text-align: center;
		color: $navy;
		position: relative;
		margin-right: -13px;
		font-size: 1.5em;
		padding-top: 12px;
		font-weight: bold;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.pick1{
		background-image: url('~assets/imgs/dosikaball1.png');	
	}
	.pick2{
		background-image: url('~assets/imgs/dosikaball4.png');	
	}
	.pick3{
		background-image: url('~assets/imgs/dosikaball2.png');	
	}
	.pick4{
		background-image: url('~assets/imgs/dosikaball3.png');	
	}
}

.lucky-numbers{
	margin-bottom: 10px;
	color: #fff;
	display: flex;
	align-items: flex-start;

	span{
		width: 30px;
		height: 32px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		padding: 0;
		white-space: nowrap;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+38,b8bac6+49,dddfe3+64,f5f6f6+100 */
		background: #f5f6f6; /* Old browsers */
		background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 38%, #b8bac6 49%, #dddfe3 64%, #f5f6f6 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 38%,#b8bac6 49%,#dddfe3 64%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 38%,#b8bac6 49%,#dddfe3 64%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
		color: #212A7C;
		border: 1px solid #9CA8B0;
		border-radius: 6px;
		font-size: 20px ;
	}

	.clear{
		margin-left: 4px;
		margin-top: 4px;
	}

}

.winning-number{
	display: flex;
	margin-bottom: 20px;

	// span{
	// 	display: inline-block;
	// }
	.winning-yellow{
		padding: 10px 10px;
		border-radius: 10px;
	}
	.winning-digits{
		width: 150px;
		margin-left: -10px;
		img{
			width: 100%;
		}
	}
}

.navbar{
	margin-bottom: 0px;
}
.dropdown{
	display: inline-block;
}
.heading{
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
}

.footer{
	margin-top: 30px;
	background-color: $orange;

	.nav{
		li{
			display: inline-block;
			margin-right: 10px;

			a{
				font-size: 10px;
				color: #fff;
				padding: 10px 5px 10px 0px;
			}
		}
	}
}

.terms{
	background-color: #fff;
	padding: 15px;
	margin-top: -10px;
}

.play-btn{
	margin-bottom: 20px;
	min-width: 200px;
	margin-top: 10px;
}


.numbers{
	list-style: none;
	overflow: hidden;
	margin-bottom: 30px;
	padding: 0;
	text-align: center;
	display: inline-block;

	li{
		float: left;
		
		margin-left: 3px;
		margin-right: 3px;
		margin-bottom: 3px;

		.btn-radio{
			background-color: #fff;
			color: $dosika;
			border-radius: 50%;
			width: 34px;
		    height: 32px;
		    padding: 0;
		    text-align: center;

			&.active{
				background-color: $orange;
				color: #fff;
			}
		}

		
	}
}

.ticket-history{
	background-color: #fff;
}


