<template>
  <section>
      <div class="banner">
          <img src="~/assets/imgs/landing-banner.jpg" alt="winning banner">
      </div>

       <div class="container"> 
                <div class="row">
                        <div class="col">
                            <h1 class="text-dosika my-3">How to play</h1>
                        </div>
                </div>
        </div>

        <div class="bg-blue">
        <div class="container">
            <div class="row text-white">
   
            <div class="col-sm-4">
                <p class="my-3 steps"> <span class="drop">1</span> Enter Mpesa paybill<br> number <span class="text-gold">290066</span>  </p> 
            </div>
            <div class="col-sm-4">
                <p class="my-3 steps"> <span class="drop">2</span> Enter WIN on the <br> number account name section  </p> 
            </div>

            <div class="col-sm-4">
                <p class="my-3 steps"> <span class="drop">3</span> Enter your bet <br> amount. eg. ksh 50 </p> 
            </div>
                         
            </div>
            
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col my-3 text-dosika ">
               <h2>Odds & Payouts</h2>
              <p>The next draw is at 12:30. Buy your ticket now!</p> 
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <history :limit="limit"/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <b-button to="/winners" block variant="warning">View All Winners</b-button>
            </div>
        </div>
    </div> 

<div class="bg-blue mt-4">
        <div class="container">
            <div class="row text-white">
                &copy; Dosika
            </div>
        </div>
        </div>
       
  </section>
</template>

<script>
import history from '~/components/history.vue'

export default {

    components:{
       history 
    },

    data() {
        return {
            limit: 15
        }
    },

}
</script>

<style lang="scss">

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
.banner{
    // width: 100%;
    img{
        background-size: cover;
        width: 100%;
        display: block;
    }
}

.steps{
    line-height: 30px;
}

.drop{
    float: left;
    font-size: 65px;
    line-height: 60px;
    // margin-bottom: 0;
    padding-top: 0px;
    padding-right: 8px;
    padding-left: 3px;
}

.text-dosika{
    color: #2D2C74
}
</style>
