<template>
<section>
    <div class="bg-blue text-white mb-3">
    <div class="container">
        <div class="row">
            <div class="col my-3">
               <h2>Odds & Payouts</h2>
              <p>The next draw is at 12:30. Buy your ticket now!</p> 
            </div>
            
        </div>
        </div>
    </div>
        <div class="container">
        <div class="row">
            <div class="col">
                <history />
            </div>
        </div>
        </div>
    <div class="bg-blue mt-4">
        <div class="container">
            <div class="row text-white">
                &copy; Dosika
            </div>
        </div>
        </div>
</section> 
</template>

<script>
import history from '~/components/history.vue'

export default {
components:{
       history 
    }
}
</script>

<style>

</style>
